@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';
:root{
    --cor-primaria:#155E95;
    --cor-secundaria:#FFF6B3;
    --cor-terciaria:#F6C794;
    --cor-hover:#6A80B9;
    
    --fonte-primaria:"Krona One", sans-serif;
    --fonte-secundaria:"Montserrat", sans-serif;

    --tamanho-fonte-titulo:2.25rem; 
    --tamanho-fonte-corpo:1.5rem ;
}
*{
    margin:0px; 
    padding:0px;
}
body {
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}
.cabecalho{
    display: flex;
    justify-content:flex-start;
    padding: 2% 15%;
}
.cabecalho_menu{
    display: flex;

    gap: 80px;   
}
.cabecalho_menu_link{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size:var(--tamanho-fonte-corpo);
    font-weight: 600;
}
.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px; 

}
.titulo_apresentacao {
    font-size: var(--tamanho-fonte-titulo);
    font-family: var(--fonte-primaria);

}
.apresentacao_conteudo_texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.paragrafo_apresentacao {
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-fonte-corpo);
    line-height: 36px;
}
strong {
    color:var(--cor-terciaria);
}


.apresentacao_link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;

}

.apresentacao_link_subtitulo {
    font-family: var(--fonte-primaria);
    font-size: var(--tamanho-fonte-corpo);
    font-weight: 400;

}

.apresentacao_link_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    color: var(--cor-secundaria);
    font-size: var(--tamanho-fonte-corpo);
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    padding: 21.5px 0;

}
.apresentacao_link_link:hover{
    background-color: var(--cor-hover);
}
.rodape{
    color:var(--cor-primaria);
    background-color:var(--cor-terciaria);
    padding:24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-fonte-corpo);
    font-weight: 400;
    
}
.apresentacao_link i {
    color: var(--cor-terciaria);
    width: 32px;
    height:32px;

}
.apresentacao_imagem{
    width: 50%;
}
.apresentacao_about{
    padding: 4% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:82px; 
}
.apresentacao_imagem_about{
    display: flex;
    width: 50%;
    align-items: flex-start; 
    justify-content: start;


}

@media(max-width:1300px){
    .cabecalho{
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 10%;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 8%;
    }
    .apresentacao_about{
        flex-direction: column-reverse;
        padding: 8%;
    }
    .apresentacao_conteudo_texto{
        width: auto;
    }
    .apresentacao_imagem{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .apresentacao_imagem_about{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}